.big-movie-card-container {
  margin-top: 3em;
}

.big-movie-card-img {
  height: 500px;
  object-fit: cover;
  object-position: 50% 20%;
}

.big-movie-card-overlay {
  position: absolute;
  top: 40%;
}

.big-movie-card-overlay .card-title {
  text-shadow: 1px 5px 5px #0000007e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.card-text {
  text-shadow: 1px 2px 2px #000;
}

.big-movie-card-container .big-movie-overlay-btn1 {
  background-color: #fff;
}

.big-movie-card-container .big-movie-overlay-btn2 {
  background-color: #3f3f3fc3;
}

.big-movie-card-container .big-movie-overlay-btn1:hover {
  color: #000;
  background: #ffffffd4;
  transition: background-color .3s ease-out;
}

.big-movie-card-container .big-movie-overlay-btn2:hover {
  color: #000;
  background: #3f3f3f8f;
  transition: background-color .3s ease-out;
}

/* Media Queries */

@media(min-width: 768px) {
  .big-movie-card-img {
    height: 600px;
    object-fit: cover;
    object-position: 50% 30%;
  }
}

@media(min-width: 1024px) {
  .big-movie-card-img {
    height: 650px;
    object-fit: cover;
    object-position: 50% 45%;
  }

  .big-movie-card-overlay {
    padding-left: 4em;
  }

  .big-movie-card-overlay-text {
    width: 50%;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .big-movie-card-overlay-title {
    font-size: 3em;
  }
}