/* Utility Styles */
.p-null {
    padding: 0;
}

.m-null {
    margin: 0;
}

/* General styles */
.modal-body {
    position: relative;
    padding: 0;
}

.modal-head-container {
    position: absolute;
    width: 100%;
    top: 110px;
}

.modal-head-poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 20%;
}

.modal-head-title {
    padding-left: .5em;
    font-weight: 600;
    text-shadow: 5px 4px 5px #000000de;
    background-color: #ffffff25;
}

.modal-btn-overlay button:first-child {
    width: 50%;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 0px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}

.modal-btn-overlay button:first-child:hover {
    background-color: #ececec;
    color: #000;
    outline: none;
    transition: background-color .4s ease-out;
}

.modal-btn-overlay button {
    width: 38px;
    color: #fff;
    outline: 1px solid #5b5b5b;
}

.modal-btn-overlay button:hover{
    outline: 1px solid #fff;
    transition: outline .3s ease-in-out;
}