.recommended-movies-poster {
  min-width: 120px;
  height: 60px;
  object-fit: cover;
  object-position: 30% 40%;
  box-shadow: 3px 3px 15px 4px #000000e5;
}

.recommended-movies-title {
  font-size: 10px;
}

.recommended-movies-btns button {
  font-size: 10px;
  border: none;
  border-radius: 2px;
}

.recommended-movies-btns button:last-child {
  background-color: #3f3f3fc3;
  margin-left: .5em;
}

.recommended-movies-btns button:last-child:hover {
  background: #3f3f3f8f;
  transition: background-color .3s ease-out;
}

.recommended-movies-remove-btn {
  background-color:  #e50914;
}

.recommended-movies-remove-btn:hover {
  background-color: #e50914e2;
  transition: background-color .4s ease;
}

/* Media Queries */
@media (min-width: 768px) {
  .recommended-movies-poster {
    min-width: 150px;
    height: 70px;
  }

  .recommended-movies-title {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .recommended-movies-poster {
    min-width: 200px;
    height: 100px;
  }

  .recommended-movies-title {
    font-size: 20px;
  }
}
