img {
  min-width: 120px;
  height: 60px;
  object-fit: cover;
  object-position: 30% 40%;
  box-shadow: 3px 3px 15px 4px #000000e5;
}

.recommended-movies-title {
  font-size: 10px;
}

/* Media Queries */
@media (min-width: 768px) {
  img {
    min-width: 150px;
    height: 70px;
  }

  .recommended-movies-title {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  img {
    min-width: 200px;
    height: 100px;
  }

  .recommended-movies-title {
    font-size: 20px;
  }
}
