
.top-ten-movie-card {
    min-width: 200px;
}

.top-ten-movie-card-content {
    max-height: 200px;
}

.top-ten-movie-card-rank {
    position: absolute;
    left: 1%;
    font-size: 7em;
    text-shadow: 10px 10px 10px #000;;
}

.top-ten-movie-card-poster {
    width: 80%;
    min-height: max-content;
    z-index: 1;
}